.main-head{
    height: 4rem;
    width: 31rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}
.profile-photo{
    height: 3rem;
    width: 3rem;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    cursor: pointer;

    .profile-details{
        position: absolute;
        right: 24rem;
        top: 8rem;
        height: 0;
        width: auto;
        opacity: 0;
        border-radius: 10px;
        background-color: rgb(183, 183, 183);
        padding: 5px;
        overflow: hidden;
        transition: 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        .user-name{
            margin-top: 10px;
            background-color: transparent;
            color: #000;
            font-weight: 700;
            margin: 5px 0;
        }
        .sign-out{
            height: 2rem;
            width: 5rem;
            border-radius: 5px;
            border: none;
            color: #fff;
            cursor: pointer;
        }
        .profie-menu-arrow{
            background-color: transparent;
            color: #000;
        }
    }

    &:hover .profile-details{
        height: 4.4rem;
        opacity: 1;
    }
}
