.homepage-content{
    margin: 20px 0;
    height: 27rem;
    overflow-y: scroll;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // flex-direction: column;
    // overflow: hidden scroll;
    // flex-grow: 1;
    // flex-basis:0;

}
.homepage-content::-webkit-scrollbar {
    display: none;
}
.seeAllTrans{
    border: none;
    outline: none;
    color: #fff;
}
$breakpoint-tablet: 720px;
@media (min-height: $breakpoint-tablet) {
  .homepage-content{
    height: 31rem;
  }
}
$breakpoint-mobile: 820px;
@media (min-height: $breakpoint-mobile) {
  .homepage-content{
    height: 35rem;
  }
}
$breakpoint-one: 920px;
@media (min-height: $breakpoint-one) {
  .homepage-content{
    height: 40rem;
  }
}
$breakpoint-two: 1020px;
@media (min-height: $breakpoint-two) {
  .homepage-content{
    height: 45rem;
  }
}
$breakpoint-three: 1120px;
@media (min-height: $breakpoint-three) {
  .homepage-content{
    height: 50rem;
  }
}
$breakpoint-four: 1220px;
@media (min-height: $breakpoint-four) {
  .homepage-content{
    height: 55rem;
  }
}
$breakpoint-five: 1320px;
@media (min-height: $breakpoint-five) {
  .homepage-content{
    height: 60rem;
  }
}
$breakpoint-six: 1420px;
@media (min-height: $breakpoint-six) {
  .homepage-content{
    height: 65rem;
  }
}